{
  "root": true,
  "extends": [
    "plugin:vue/vue3-essential",
    "eslint:recommended",
    "@vue/eslint-config-typescript",
    "@antfu"
  ],
  "rules": {
    "vue/multi-word-component-names": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "vue/no-unused-refs": "off"
  },
  "parserOptions": {
    "ecmaVersion": "latest"
  }
}
